//- https://habrahabr.ru/post/252279/
body
  +center
          table(style={'margin':'0','padding':'0','width':'100%','line-height':'#{lineh}'})&attributes(attributes)
            tr
              td
                +span('1')
+link('/foo', 'link')

+p('Lorem ipsum')

+img('/foo', 'Title')

+tel('+380679918388')

+mail('dmitriy.a.nevskiy@gmail.com')
//- <td style="padding: 10px;"></td> отступы регулируем размером ячеек
//- ,'line-height':'#{lineh}'